
/* o "*" faz com que tudo seja selecionado, oque fiz aqui foi zerar os espaçamentos internos e externos */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* pondo no corpo(body) uma imagem de fundo */
body{
    background-image: url('dog_names_0110_2_1_0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* centralizar quem estiver com essa classe */
.centralizado{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* todos os input tem essas especificacões */
.input{
    border: 0;
    color: rgb(85, 111, 47);;
    border-bottom: 2px solid black;        
    background-color: rgb(187, 221, 137);
    outline: none;
    margin-bottom: 20px;
}

/* modificando a div para ficar do jeito que esta agora */
.formulario{
    font-weight: 700;
    font-size: 20px;
    margin-top: 180px;
    margin-left: 150px;
    border-radius: 10px;
    border: 3px solid rgb(85, 111, 47);
    background-color: rgb(187, 221, 137);
    width: 250px;
    height: 250px;
}

/* todos os form's */
form{
    display: flex;
    flex-direction: column;
}

/* mod o botão */
button{
    height: 25px;
    background-color: rgb(222, 255, 172);
    border: none;
    border-radius: 2px;
}

/* o ":hover" basicamente quando o mause estiver em cima, o que fiz foi alterar o icone do mause toda vez que ficasse em cima do botão !! */
button:hover{
    cursor: pointer;
}
